@import "../../../style/_scss/variables";

.bar {
  width: 100%;
  height: $actionbar-height;
  color: $black;
  background: $foam;
  will-change: transform;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  //align-items: stretch;
  align-content: center;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s, -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  border-bottom: 3px solid $purple;

  .barButton {
    width: 24px;
    height: 24px;
    margin: auto 10px;
    text-indent: -30000px;
    overflow: hidden;
    opacity: 0.54;
    -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  #butRefresh {
    background: url(/assets/images/ic_refresh_white_24px.svg) center center no-repeat;
  }

  #butAdd {
    background: url(/assets/images/ic_add_white_24px.svg) center center no-repeat;
  }

  #goBack {
    background: url(/assets/images/ic_keyboard_backspace_white_24px.svg) center center no-repeat;
  }

  #butLogo {
    width: 3em;
    background: url(/assets/images/logo.png) center center no-repeat;
  }
}

.bar__title {
  flex: 1;
  overflow: hidden;
  line-height: inherit;
  color: $black;
  font-size: 20px;
}

:host {
  z-index: map-get($z-index-map, "actionbar");
}
