@import "../../../style/_scss/variables";

.bar {
  position: fixed;
  top: 0;
  z-index: map-get($z-index-map, actionbar);
  width: 100%;
  height: $actionbar-height;
  color: $black;
  background: $foam;
  will-change: transform;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s, -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  border-bottom: 3px solid $purple;

  .barButton {
    width: 24px;
    height: 24px;
    margin: auto 10px;
    text-indent: -30000px;
    overflow: hidden;
    opacity: 0.54;
    -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    border: none;
    outline: none;
    cursor: pointer;

    &:hover,
    &:active{
      opacity: 1;
    }
  }

  .button {
    margin: auto $base-padding;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
  }

  .logoButton {
    width: 2em;
    transition: color 0.333s cubic-bezier(0, 0, 0.21, 1);
    font-size: 22px;
    color: $black;

    &:hover,
    &:active{
      color: $purple;
    }
  }

  .backButton {
    line-height: 1;
    margin-left: $base-padding + 0.4em;
    svg {
      transition: fill 0.333s cubic-bezier(0, 0, 0.21, 1);
      fill: $black;
    }
    &:hover,
    &:active {
      svg {fill: $purple;}
    }
  }

  #butRefresh {
    background: url(/assets/images/ic_refresh_white_24px.svg) center center no-repeat;
  }

  #butAdd {
    background: url(/assets/images/ic_add_white_24px.svg) center center no-repeat;
  }
}

.bar__title {
  margin-top: 1.2em;
  color: $black;
  font-weight: 600;
  font-size: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  line-height: inherit;
  color: $black;
  font-size: 20px;
}

:host {
  z-index: map-get($z-index-map, "actionbar");
}
