.box {
  //max-height: 50vh;
  position: relative;
  max-width: 500px;
  background-color: white;
  border: $regular-border-size solid $purple;
  padding: 40px 30px;
  //overflow-x: hidden;
  z-index: map-get($z-index-map, "box");
  box-shadow: -6px 6px 0px 0 $purple;
}

.box__title {
  position: absolute;
  top: -1.6em;
  right: 30px;
  display: inline-block;
  padding: $base-padding-lite ($base-padding / 1.5) 0.1em;
  background: white;
  border: $regular-border-size solid $purple;
}
