.box {
  max-height: 50vh;
  max-width: 500px;
  background-color: white;
  border: 1px solid black;
  padding: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: map-get($z-index-map, "box");
}
