.btn {
  display: inline-block;
  margin: $margin-top-medium;
  padding: 0.2em $base-padding 0;
  background: $foam;
  color: $purple;
  font-size: $base-button-font-size;
  border: $thin-border-size solid $purple;
  text-decoration: none;
  box-shadow: -4px 4px 0px 0 $purple;
  transition: box-shadow 80ms ease;
}

.btn:hover {
  background: $purple;
  color: $white;
  text-decoration: none;
  box-shadow: -2px 2px 0px 0 $purple;
}

.btn:active {
  box-shadow: 0 0 0 0 $purple;
}


.btn--standalone {
  position: absolute;
  right: ($base-padding / 2);
  margin-top: $base-padding-extra;
}
