.btn {
  display: inline-block;
  margin: $margin-top-medium;
  padding: 0.2em $base-padding 0;
  background: $foam;
  color: $purple;
  font-size: $base-button-font-size;
  border: $thin-border-size solid $purple;
  text-decoration: none;
  box-shadow: -4px 4px 0px 0 $purple;
  transition: box-shadow 80ms ease, color 80ms ease, border-color 80ms ease;

  @media (max-width: 800px) {
    font-size: 22px;
  }
}

.btn:hover {
  background: $purple;
  color: $foam;
  text-decoration: none;
  box-shadow: -2px 2px 0px 0 $foam;
  border-color: $foam;
}

.btn:active {
  box-shadow: 0 0 0 0 $foam;
}

.btn__position--right {
  text-align: right;
}

.btn--standalone {
  margin-top: $base-padding-extra;
  margin-bottom: $base-padding-extra;

  @media (max-width: 800px) {
    margin-top: $base-padding-large;
    margin-bottom: $base-padding-jumbo * 1.5;
    margin-right: 1em;
  }
}

.btn-cta {
  @include font-size(2);
  display: block;
  margin-top: $base-padding-lite;
  line-height: 1;
  color: $foam;
  text-align: right;
  text-decoration: none;

  &:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 18px solid $foam;
    margin-left: 0.3em;
    transition: transform 120ms ease;
  }
  &:hover:after,
  &:active:after {
    transform: rotate(90deg);
  }

  @media (max-width: 800px) {
    font-size: 30px;
  }
}

.btn-back,
.btn-forward {
  position: absolute;
  bottom: 20px;
  display: block;
  width: 55px;
  height: 55px;
  text-indent: 999%;
  overflow: hidden;
  white-space: nowrap;
  z-index: map-get($z-index-map, prevnextbtn);
}

.btn-forward {
  right: 20px;
  background-image: url(/assets/images/btn-next.svg);
  &:hover,
  &:active {
    background-image: url(/assets/images/btn-next-pressed.svg);
  }
}

.btn-back {
  left: 20px;
  background-image: url(/assets/images/btn-prev.svg);
  &:hover,
  &:active {
    background-image: url(/assets/images/btn-prev-pressed.svg);
  }
}
