mgl-map {
  height: 100vh;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.mapboxgl-marker:not(.mapboxgl-user-location-dot) {
  position: absolute;
  top: -18px;
  z-index: 1;
  color: $white;
  width: 37px;
  height: 42px;
  font-family: 'Overpass', 'Verdana', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.85;
  background-image: url(/assets/images/hex-2.svg);
}

.marker--large .mapboxgl-marker:not(.mapboxgl-user-location-dot) {
  width: 100px;
  height: 100px;
  font-size: 3rem;
  background-image: url(/assets/images/hex.svg);
  top: -45px;
}

.mapboxgl-marker.mapboxgl-user-location-dot {
  background-color: $purple-dark;
  width: 20px;
  height: 20px;
  &:before {
    background-color: $purple-dark;
    width: 20px;
    height: 20px;
  }
  &:after {
    width: 20px;
    height: 20px;
  }
}

.mapboxgl-ctrl-group {
  background: transparent;
  box-shadow: none;
}

.mapboxgl-ctrl.mapboxgl-ctrl-group {
  overflow: visible;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-background,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-active {
  background-color: $foam;
  border: 2px solid $purple;
  box-shadow: -3px 3px 0px 0 $purple;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-background{
  background-image: url(/assets/images/geolocate-inactive.svg);

  &:active {
    background-color: $purple;
    border-color: $foam;
    box-shadow: none;
    background-image: url(/assets/images/geolocate-active.svg);
  }
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-active {
  background-color: $purple;
  border-color: $foam;
  box-shadow: none;
  background-image: url(/assets/images/geolocate-active.svg);
}

.inactive-marker {
  position: absolute;
  z-index: 1;
  color: $white;
  width: 37px;
  height: 42px;
  font-family: 'Overpass', 'Verdana', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.8;
  background-image: url(/assets/images/hex-2-inactive.svg);
}

.map {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: map-get($z-index-map, "map");
  top: 0;
  left: 0;
}

mgl-map {
  height: calc(100vh - 60px)
}
