mgl-map {
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.mapboxgl-marker {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 40px;
  height: 23.09px;
  margin: 11.55px 0;
  background-color: $purple;
  will-change: transform;
  color: $white;
  font-size: 1.4em;
  text-align: center;
  line-height: 1.1;

  &:after,
  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    z-index: -1;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  &:before {
    bottom: 100%;
    border-bottom: 11.55px solid $purple;
  }

  &:after {
    top: 100%;
    width: 0;
    border-top: 11.55px solid $purple;
  }
}

.map {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: map-get($z-index-map, "map");
  top: 0;
  left: 0;
}
