mgl-map {
  height: 100vh;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

@mixin makeMarker($color) {
  position: absolute;
  top: -35px;
  left: 0;
  z-index: 1;
  width: 42px;
  height: 24.25px;
  margin: 12.12px 0;
  background-color: $color;
  will-change: transform;
  color: $white;
  font-family: 'Overpass', 'Verdana', sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;

  &:after,
  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    z-index: -1;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
  }

  &:before {
    bottom: 100%;
    border-bottom: 12.12px solid $color;
  }

  &:after {
    top: 100%;
    width: 0;
    border-top: 12.12px solid $color;
  }
}

.mapboxgl-marker:not(.mapboxgl-user-location-dot) {
  @include makeMarker($inactive-purple);
}

.marker--large .mapboxgl-marker:not(.mapboxgl-user-location-dot) {
  width: 60px;
  height: 34.64px;
  margin: 17.32px 0;
  font-size: 1.8rem;
  top: -45px;
  background-color: $purple;

  &:before,
  &:after {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
  }
  &:before {
    border-bottom: 17.32px solid $purple;
  }
  &:after {
    border-top: 17.32px solid $purple;
  }
}

.mapboxgl-marker.mapboxgl-user-location-dot {
  background-color: $purple-dark;
  width: 20px;
  height: 20px;
  &:before {
    background-color: $purple-dark;
    width: 20px;
    height: 20px;
  }
  &:after {
    width: 20px;
    height: 20px;
  }
}

.mapboxgl-ctrl-group {
  background: transparent;
  box-shadow: none;
}

.mapboxgl-ctrl.mapboxgl-ctrl-group {
  overflow: visible;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-background,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-active {
  background-color: $foam;
  border: 2px solid $purple;
  box-shadow: -3px 3px 0px 0 $purple;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-background{
  background-image: url(/assets/images/geolocate-inactive.svg);

  &:active {
    background-color: $purple;
    border-color: $foam;
    box-shadow: none;
    background-image: url(/assets/images/geolocate-active.svg);
  }
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-active {
  background-color: $purple;
  border-color: $foam;
  box-shadow: none;
  background-image: url(/assets/images/geolocate-active.svg);
}


.inactive-marker {
  @include makeMarker($purple);
  top: -12px; // because of workaround-nesting
}

.map {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: map-get($z-index-map, "map");
  top: 0;
  left: 0;
}
