<app-action-bar [name]="title" [showMenu]="true"></app-action-bar>
<!--<div class="main">-->
<!--<app-card *ngFor="let course of courses" [course]="course"></app-card>-->
<!--</div>-->
<div class="wrapper" *ngIf="activeCourse">
  <div class="map">
    <mgl-map
      [style]="mapOptions.style"
      [zoom]="mapOptions.zoom"
      [center]="mapOptions.center">
      <mgl-layer
        id="linelayer"
        type="line"
        [source]="{
        'type': 'geojson',
        'data': {
          'type': 'Feature',
          'properties': {},
          'geometry': {
            'type': 'LineString',
            'coordinates': activeLine
          }
        }
        }"
        [layout]="{
        'line-join': 'round',
        'line-cap': 'round'
        }"
        [paint]="{
        'line-color': '#4c00c8',
        'line-width': 8
        }">
      </mgl-layer>
      <mgl-marker
        *ngFor="let station of activeCourse.stations"
        [lngLat]="[station.position.lon, station.position.lat]">
        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" viewbox="0 0 40 40">
            <polygon points="50 2 7 26 7 74 50 98 93 74 93 26" fill="#4c00c8" stroke-width="4" stroke="none"></polygon>
</svg>

          {{station.id}}
      </mgl-marker>
    </mgl-map>
  </div>
  <div class="container-margin-all">
    <div class="box">
      <div class="box__title h1">Über die Tour</div>
      <h1>{{activeCourse.name}}</h1>
      <p [innerHTML]="activeCourse.description | safeHtml"></p>
      <div class="navigation">
        <!--><a class="btn" routerLink="">&lt;</a><-->
        <a class="btn" routerLink="/point-to-point/{{activeCourse.id}}/{{activeCourse.entry}}">Starten</a>
        <!--><a class="btn" routerLink="">&gt;</a><-->
      </div>
    </div>
  </div>

</div>
