<div class="wrapper fond_green_gradient">
  <app-action-bar [name]="title" [showMenu]="true"></app-action-bar>
  <div class="container padding-top-medium margin-top">
    <div class="box box-wide center">
      <h2 class="h1 box__title">Tourenübesicht</h2>
      <p>Hier siehst du eine Liste von Touren, die die Community angelegt hat und die du ablaufen kannst.</p>
      <p>Du hast Ideen für einen eigene Tour? Super! Melde dich im <a href="{{creatorLink}}">SpaziergangCreator</a> an und leg los!</p>
    </div>

    <div class="box box-wide center" *ngFor="let tour of courses">
      <div class="box-content">
        <h1 class="h1">{{tour.name}}</h1>
        <p [innerHTML]="tour.description | safeHtml"></p>
        <div class="navigation">
          <a class="btn" routerLink="/course/{{tour.id}}/">Tour starten</a>
        </div>
      </div>
    </div>
  </div>
</div>
