.main {
  padding-top: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.box {
  position: absolute;
  top: 80px;
  left: 60px;
  min-height: 30vh;
  width: 50vh;
  background-color: white;
  border: 1px solid black;
  padding: 30px;
}
