.swipeable {
  mgl-map {
    @media (max-width: 800px) {
      width: 200%;
    }
  }
}

.swipeable__helper {
  //background-color: pink;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 92vw;
  z-index: map-get($z-index-map, menu);
  @media (min-width: 801px) {
    display: none;
  }
}

.swipeable__btn {
  width: 5.5em;
  height: 2.1em;
  padding: 0 1em;
  transform: translateY(41vh);
  box-shadow: 1px 4px 0 2px $purple;
  border-radius: 26px;
  background: url(/assets/images/triangle-arrow-right.svg) 2px -2px, url(/assets/images/triangle-arrow-left.svg) 100% -2px;
  background-size: 2.7rem;
  background-repeat: no-repeat;
  background-color: $foam;
}

.wrapper {
  height: calc(100vh + #{$actionbar-height});
  padding-top: $actionbar-height;
  overflow-y: auto;
  overflow-x: hidden;
}

.wrapper-box {
  overflow: hidden;
  max-width: 490px;
  height: calc(100vh - #{$actionbar-height});
  position:absolute;
  top: 0;
  margin-left: 20px;

  @media (orientation: portrait) {
    max-width: 90vw;
  }
}
