<div class="wrapper" *ngIf="course">
  <app-action-bar [name]="course.name"></app-action-bar>
  <div class="main">
    <a class="btn" style="position: absolute; top: 100px; left: 50px" routerLink="{{nextLink}}">Weiter</a>

  </div>
</div>
<mgl-map
  [style]="mapOptions.style"
  [zoom]="mapOptions.zoom"
  [center]="mapOptions.center"
  [doubleClickZoom]="false">
  <mgl-marker
    [lngLat]="mapOptions.center">
    <div
      (click)="log('Foo')"
      class="marker">
	    Hello
    </div>
  </mgl-marker>
</mgl-map>

<a class="btn" style="position: absolute; top: 100px; left: 50px" routerLink="{{nextLink}}">Weiter</a>
