@import "../../../../style/_scss/variables";

.detail {
  background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  height: 100%;
}

.description {
  //color: white;
  padding: 60px 10% 10% 10%;
  max-width: 100%;
  //max-height: 80vh;
  //overflow: scroll;
}

.btn {
  margin: 0 auto;
}

.container {
  //display: flex
}

.button-container {
  display: flex;
  //align-items: flex-end;
  margin-top: 20px;
}

.story-container {
  margin: 20px;
}
