@import "../../../../style/_scss/variables";

.detail {
  background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  height: 100%;
}

.description {
  //color: white;
  padding: 80px 10% 10% 10%;
  max-width: 50vw;
  max-height: 80vh;
  overflow: scroll;
}

.btn {
  margin: 0 auto;
}

.wrapper {
  height: calc(100% - #{$actionbar-height});
}

.container {
  display: flex
}

.button-container {
  display: flex;
  align-items: flex-end;
}
