@import "../../../../style/_scss/variables";

.detail {
  background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  height: 100%;
}

.description {
  padding: 60px 40px 40px;
  max-width: 100%;
}

.story-container {
  margin: 40px 20px 20px;
  height: calc(100vh - 65px);
}

p {
  margin-bottom: 1.5em;
}
