<div class="wrapper fond_darkblue_gradient" #wrapper *ngIf="story" [@fadeInAnimation]="state"
  (@fadeInAnimation.done)="animationDone($event)">
  <app-action-bar [name]="actionbarTitle"
    [showBack]="true"
    [courseId]="courseId"
    [stationId]="station.id"></app-action-bar>
  <div class="story-container">

    <div class="container padding-top-medium">
      <div class="description box box-wide">
        <h1 class="box__title h1"
          [ngClass]="{relative: inlineTitle === true}">{{title}}</h1>
        <p [innerHTML]="story.content | safeHtml"></p>
      </div>

      <a class="btn-back" (click)="goBack()">Zurück</a>
      <a class="btn-forward" (click)="goNext()">Weiter</a>
    </div>
  </div>
</div>
