.padding-top-medium {
  padding-top: 85px;
}

.logo-wall {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media (max-width: 800px) {
    flex-flow: column wrap;
  }
}

.img-s {
  max-height: 80px;
  max-width: 100%;
}

.img-m {
  max-height: 130px;
  max-width: 100%;
}
