.indicator {
  height: 10px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.indicator:hover {
  cursor: pointer;
}

:host {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.active {
  background-color: red;
}
