@import "../../../../style/_scss/variables";


.story-container {
  margin: 20px 20px;
  height: calc(100vh - 65px);
}

.iframe-container {
  height: 80vh;
}


iframe {
  height: 100%;
  width: 100%;
  background-color: white;
  box-shadow: -8px 8px 0px 0 $purple-dark;
}
