<div class="wrapper fond_green_gradient">
  <app-action-bar  [name]="title" [showMenu]="true"></app-action-bar>
  <div class="success-container padding-top-medium">
    <div class="box center">
      <h1 class="box__title h1">{{title}}</h1>
      <p [innerHTML]="message | safeHtml"></p>
      <img style="max-width: 100%; margin-bottom: 2em" src="/assets/images/success.svg" alt="">
      <p>Du hast Lust noch mehr über Daten und digitale Tools zu lernen? Dann besuche uns auf https://datenschule.de! Mit unserem Bildungsangebot ermutigen wir gemeinnützige Organisationen, Daten und Technologien zielgerichtet bei ihrer Arbeit einzusetzen. Wir vernetzen NPOs mit technikaffinen Menschen, setzen gemeinsam datengestützte Projekte um und bieten Workshops rund um die Themen Daten und Technologien an.</p>
      <p>Fragen? Anregungen? Kritik? Hinterlasse uns ein kurzes Feedback!</p>
      <a class="btn" href="https://docs.google.com/forms/d/1Ti10XaxG9HW5PBjlH_un7nHG5l_v0GpVDmCD3oBuojU">Feedback</a>
    </div>
  </div>
</div>
