.wrapper {
  position: absolute;
  right: 30px;
  top: 23vh;
  min-height: 20vh;
  max-width: 20vw;
  z-index: 1;
  background-color: white;
  border: 1px solid blue;
  padding: 20px;
  height: 75vh;
  overflow: scroll;
}

.wrapper img {
  max-height: 10em;
}

.wrapper .content {
  max-height: 50vh;
  text-overflow: ellipsis;
  overflow: hidden;
}

h1 {
  font-size: 18px;
}
