@import "../../../../style/_scss/_variables.scss";

$padding: 0.8rem;

.btn {
  position: absolute;
  top: $actionbar-height - 20px;
  left: $padding;
  z-index: 100;
}

.map-topics {
  position: absolute;
  top: 120px;
  left: $padding;
  z-index: 1;
  background: $foam;
  border: 2px solid $purple;
  box-shadow: -6px 6px 0px 0 $purple;

  button {
    display: block;
    padding: 0;
    margin-bottom: $padding;
    font-size: 1rem;
    color: $purple;
    border: none;
    background: none;
    &:hover,
    &:active,
    &.active {
      color: $purple;
      text-decoration: underline;
    }
    &:focus {
      outline: none;
    }
  }
}

.map-info {
  position: absolute;
  top: $actionbar-height + 20px;
  right: $padding;
  z-index: 1;
  background: $white;
  padding: $base-padding-lite;
  border: 2px solid $purple;
  box-shadow: -6px 6px 0px 0 $purple;
}

.map-legend {
  position: absolute;
  bottom: 120px;
  right: $padding;
  z-index: 1;
  padding: $base-padding-lite;
  max-width: 12em;
  font-size: 14px;
  text-align: right;
}

.legend-color {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.7em;
  line-height: 1;
}

small {
  font-size: .8em;
}

.map__title {
  margin: .2em 0;
}
