<div class="wrapper" *ngIf="title">
  <app-action-bar [name]="title" [showBack]="true"></app-action-bar>

  <div class="map-topics box">
    <h3 class="box__title h1">Kategorien</h3>
    <button
      *ngFor="let k of Object.keys(mapKeysToLayer)"
      [value]="k"
      (click)="moveLayerToTop($event)">{{mapKeysToLayer[k]}}</button>
  </div>

  <div class="map-info">
    <h2 class="map__title h1">{{mapData['name']}}
    <span *ngIf="activeMap">
      <!-- {{mapKeysToLayer[activeMap]}}-->
    : {{mapData[mapKeysToLayer[activeMap]]}} Aktivitäten
    </span>
    </h2>
  </div>

  <div class="map-legend">
    <p>Außerschulische Angebote:</p>
    <div *ngFor="let l of legend">{{l[0]}} <span class="legend-color" [style.background]="l[1]"></span></div>

  </div>

  <mgl-map
    [center]="mapOption.center"
    [zoom]="mapOption.zoom"
    [style]="mapOption.style"
    (load)="onLoad($event)">
    <mgl-geojson-source
      id="berlin"
      [data]="mapOption.sources.berlinBorders">
    </mgl-geojson-source>
    <mgl-geojson-source
      id="schools"
      [data]="mapOption.sources.schoolActivities">
    </mgl-geojson-source>

    <mgl-layer
      id="base"
      type="fill"
      source="schools"
      [paint]='{
      "fill-opacity": 0.0}'
      (mouseMove)="activateHoverOn($event)"
      (mouseLeave)="disableHover()">
    </mgl-layer>

    <mgl-layer
      id="outline"
      type="line"
      source="berlin"
      [paint]='{
      "line-color": "#00ff9d",
      "line-width": 3
      }'>
    </mgl-layer>
    <mgl-layer
      id="hover"
      type="line"
      source="berlin"
      [paint]='{
      "line-color": "#00ff9d",
      "line-width": 8
      }'
      [filter]="hoverFilter">
    </mgl-layer>
  </mgl-map>

  <a class="btn-back" (click)="goBack()">Zurück</a>
  <a class="btn-forward" routerLink="{{nextLink}}">Weiter</a>
</div>
