.map-topics {
  position: absolute;
  bottom: 5em;
  left: 5em;
  z-index: 1;
  background: #f1f1f1;
  padding: 2em;
  width: 15em;
}

.map-info {
  position: absolute;
  top: 5em;
  right: 5em;
  z-index: 1;
  background: #f1f1f1;
  padding: 2em;
}

.map-legend {
  position: absolute;
  bottom: 5em;
  right: 5em;
  z-index: 1;
  background: #f1f1f1;
  padding: 2em;
}

.legend-color {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em
}
