@import "../../../../style/_scss/_variables.scss";

$padding: 0.8rem;

.btn {
  position: absolute;
  top: $actionbar-height - 20px;
  left: $padding;
  z-index: 100;
}

.map-topics {
  position: absolute;
  bottom: $padding;
  left: $padding;
  z-index: 1;
  background: $white;
  padding: $base-padding-lite;
  max-width: 12em;
  border: 2px solid $purple;
  box-shadow: -6px 6px 0px 0 $purple;

  button {
    display: block;
    padding: 0;
    margin-bottom: $padding;
    color: $foam;
    border: none;
    background: none;
    &:hover,
    &:active {
      color: $purple;
    }
  }
}

.map-info {
  position: absolute;
  top: $actionbar-height + 10px;
  right: $padding;
  z-index: 1;
  background: $white;
  padding: $base-padding-lite;
  border: 2px solid $purple;
  box-shadow: -6px 6px 0px 0 $purple;
}

.map-legend {
  position: absolute;
  bottom: $padding;
  right: $padding;
  z-index: 1;
  background: white;
  padding: $base-padding-lite;
  font-size: 16px;
  max-width: 12em;
  border: 2px solid $purple;
  box-shadow: -6px 6px 0px 0 $purple;
}

.legend-color {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.7em;
  line-height: 1;
}

.map__title {
  font-size: 1rem;
  font-weight: 700;
  margin: .2em 0;
}

small {
  font-size: .8em;
}
