@import "../../../../style/_scss/variables";

.box {
  position: relative;
  top: 80px;
  left: 60px;
  min-height: 30vh;
  max-width: 100%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  /*border-radius: 5px;*/
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
