li {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 12px;
  padding-right: 1.9em;
}

ul {
  margin: auto auto;
  text-align: left;
  width: 70%;
  padding: 0;
}

.answer-indicator {
  position: absolute;
  top: 8px;
  right: 15px;
}

.quiz-container {
  margin: 40px 20px 20px;
  display: flex;
  flex-direction: column;

  .box {
    margin-bottom: 2em;
  }

  ul {
    margin-bottom: 10em;
  }
}

.quiz-check {
  display: inline-block;
  width: 1em;
  height: 1em;
  text-indent: 999%;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  background: {
    image: url(/assets/images/checkmark.svg);
    size: 100%;
    repeat: no-repeat;
  }

  .btn:active &,
  .btn:hover & {
    background-image: url(/assets/images/checkmark-select.svg);
  }
}
