li {
  display: block;
  width: 100%;
  margin-top: 12px;
}

ul {
  margin: auto 0 auto auto;
  text-align: left;
  width: 85%;
  padding: 0;
}

.answer-indicator {
  float: right;
}

.quiz-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}


.quiz-check {
  display: inline-block;
  width: 1em;
  height: 1em;
  text-indent: 999%;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  background: {
    image: url(/assets/images/checkmark.svg);
    size: 100%;
    repeat: no-repeat;
  }

  .btn:active &,
  .btn:hover & {
    background-image: url(/assets/images/checkmark-select.svg);
  }
}
