li {
  display: block;
  width: 100%;
  margin-top: 12px;
}

ul {
  margin: auto 0 auto auto;
  text-align: left;
  width: 85%;
  padding: 0;
}

.answer-indicator {
  float: right;
}

.button-container {
  //display: flex;
  //justify-content: space-between;
}

.quiz-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
