li {
  list-style: none;
}

li:before {
  content: url(/assets/images/triangle-arrow-right-list.svg);
  font-size: 1px;
  display: inline-block;
  height: 1em;
  position: absolute;
  left: -3em;
  transform: scale(0.5);
}
