.mymap {
  position:absolute; top:0; bottom:0; width:100%;
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  background-color: black;
  height: 10px;
  width: 10px
}
