<app-action-bar [name]="title" [showMenu]="true"></app-action-bar>
<div class="main">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque delectus fugiat ipsa natus nesciunt
    nihil nostrum obcaecati, officia quia recusandae repellendus suscipit vitae? Cum dolorum iure laborum quibusdam
    rerum. Aliquam aspernatur error soluta veritatis voluptatum. Beatae, dolores esse exercitationem nisi provident
    quisquam! Aliquid dignissimos fugiat itaque maxime neque recusandae tempore vel, veniam! Aperiam consequuntur
    deserunt dolorem dolorum, eius eligendi, enim eum exercitationem explicabo hic iste laboriosam maxime mollitia nam
    nesciunt nihil provident sapiente! Asperiores aspernatur assumenda cumque debitis deserunt eligendi eos esse eum
    harum iure, minus, quas quidem repellendus reprehenderit ullam. Corporis fuga hic ipsam odit porro possimus quis
    quos ratione. Aliquid amet aperiam commodi deleniti dicta facilis fuga itaque magni mollitia nisi nobis non quas,
    temporibus? Corporis eum ex in laudantium nam nihil non numquam praesentium ut, vero vitae voluptatum. Deserunt quas
    quidem similique voluptatum. Blanditiis consectetur consequuntur cum dolores eligendi eveniet explicabo fugit iste
    magni maiores nesciunt odio pariatur quae quas quasi quia quis quo, repellat reprehenderit sed vitae, voluptatem
    voluptatum. Aspernatur assumenda delectus distinctio dolore, expedita id necessitatibus obcaecati perspiciatis
    possimus, quasi recusandae repellendus rerum saepe vel voluptatem? Accusantium amet laborum voluptatem? Accusantium
    aliquid asperiores at atque aut commodi cum delectus dicta distinctio dolores ea eius error fuga incidunt inventore
    itaque libero magni nemo nostrum nulla omnis perspiciatis provident quaerat quos, reprehenderit repudiandae rerum
    similique sint soluta suscipit totam ut vero voluptates! Accusantium aperiam aut fuga laboriosam veniam voluptas! A
    ab animi, asperiores at dolor dolorum ducimus expedita id incidunt iste minima nobis quam quia sed sint soluta,
    temporibus voluptas voluptatem. Ab commodi cumque dolorem dolores dolorum eius enim fugiat illum iste magni modi
    nihil optio pariatur quas quis quos ratione repellat repudiandae sed sequi sint temporibus ut, voluptatum? Amet
    asperiores cupiditate enim hic ipsum laborum nesciunt odio omnis quidem sapiente, sed soluta veniam veritatis
    voluptas.</p>
  <a class="btn" routerLink="/overview">zu den Touren</a>
</div>
