<app-action-bar [name]="title" [showMenu]="true"></app-action-bar>
<div class="fond_green_gradient container-title">
  <div class="container">
    <div class="container-left-12">
      <h1>Willkommen beim Datenspaziergang!</h1>
      <p>Bei unserem analogen Lauf durch Berlin-Kreuzberg entdeckst du, wie die digitale Welt mit unserem Alltag verwoben
        ist und was Daten, Zahlen und Statistiken über die Politik, das Bildungssystem und die Umwelt verraten und wie du
        das in deiner Arbeit mit Jugendlichen nutzen kannst.
      </p>
    </div>
    <div class="container-left-12">
      <a class="btn" routerLink="/overview">zu den Touren</a>
    </div>
  </div>
</div>
