<div class="wrapper fond_green_gradient">
  <app-action-bar [name]="title" [showMenu]="true"></app-action-bar>
  <div class="container padding-top-medium">
    <div class="box box-wide center">
      <h1>Willkommen beim Datenspaziergang!</h1>
      <p>Bei unserem analogen Lauf durch Berlin-Kreuzberg entdeckst du, wie die digitale Welt mit unserem Alltag verwoben
        ist und was Daten, Zahlen und Statistiken über die Politik, das Bildungssystem und die Umwelt verraten und wie du
        das in deiner Arbeit mit Jugendlichen nutzen kannst.
      </p>
      <a class="btn" routerLink="/overview">Zur Tour</a>
    </div>
  </div>
</div>
