<div class="wrapper" *ngIf="station">
  <app-action-bar [name]="title" [showBack]="true"></app-action-bar>
  <div class="map">
    <mgl-map
      [center]="mapOptions.center"
      [zoom]="mapOptions.zoom"
      [style]="mapOptions.style"
      [interactive]="true">
      <mgl-marker
        [lngLat]="mapOptions.center">
        <div class="marker">{{station.id + 1}}</div>
      </mgl-marker>
      <mgl-marker *ngIf="locationMarker.length > 0"
        [lngLat]="locationMarker">
        <div class="marker">DU</div>
      </mgl-marker>
      <mgl-layer
        id="linelayer"
        type="line"
        [source]="{
        'type': 'geojson',
        'data': {
        'type': 'Feature',
        'properties': {},
        'geometry': {
        'type': 'LineString',
        'coordinates': course.courseline
        }
        }
        }"
        [layout]="{
        'line-join': 'round',
        'line-cap': 'round'
        }"
        [paint]="{
        'line-color': '#a576f1',
        'line-width': 8
        }">
      </mgl-layer>
    </mgl-map>
  </div>

  <div class="container-margin-all">
    <div class="box">
      <h1 class="box__title"
      [ngClass]="{relative: stationNameInline === true}">{{station.name}}</h1>
      <p [innerHTML]="course.description | safeHtml"></p>
      <a class="btn" id="next" routerLink="{{nextLink}}">Angekommen</a>
    </div>
  </div>
  <app-page-indicator [course]="course.id" [stations]="stationsForIndicator" [active]="station.id"></app-page-indicator>

</div>
