<div class="wrapper" *ngIf="station">
  <app-action-bar [name]="title" [showBack]="true"></app-action-bar>

  <mgl-map
    [center]="mapOptions.center"
    [zoom]="mapOptions.zoom"
    [style]="mapOptions.style">
    <mgl-layer
      *ngIf="locationMarker.length > 0"
      id="linelayer"
      type="line"
      [source]="{
        'type': 'geojson',
        'data': {
          'type': 'Feature',
          'properties': {},
          'geometry': {
            'type': 'LineString',
            'coordinates': [mapOptions.center, locationMarker]
           }
        }
        }"
      [layout]="{
        'line-join': 'round',
        'line-cap': 'round'
        }"
      [paint]="{
        'line-color': '#888',
        'line-width': 8
        }"
    ></mgl-layer>
    <mgl-marker
      [lngLat]="mapOptions.center">
      <div class="marker">{{station.name}}</div>
    </mgl-marker>
    <mgl-marker *ngIf="locationMarker.length > 0"
                [lngLat]="locationMarker">
      <div class="marker">DU</div>
    </mgl-marker>
  </mgl-map>

  <a class="btn" style="position: absolute; bottom: 100px; left: 50px" routerLink="{{nextLink}}">Angekommen</a>
  <div class="box">
    <p [innerHTML]="course.description | safeHtml"></p>
  </div>
  <app-page-indicator></app-page-indicator>

</div>
