<div class="wrapper" *ngIf="station">
  <app-action-bar [name]="title" [showBack]="true"></app-action-bar>
  <div class="map">
    <mgl-map
      [center]="mapOptions.center"
      [zoom]="mapOptions.zoom"
      [style]="mapOptions.style">
      <mgl-layer
        *ngIf="locationMarker.length > 0"
        id="linelayer"
        type="line"
        [source]="{
        'type': 'geojson',
        'data': {
          'type': 'Feature',
          'properties': {},
          'geometry': {
            'type': 'LineString',
            'coordinates': [mapOptions.center, locationMarker]
           }
        }
        }"
        [layout]="{
        'line-join': 'round',
        'line-cap': 'round'
        }"
        [paint]="{
        'line-color': '#888',
        'line-width': 8
        }"
      ></mgl-layer>
      <mgl-marker
        [lngLat]="mapOptions.center">
        <div class="marker">{{station.name}}</div>
      </mgl-marker>
      <mgl-marker *ngIf="locationMarker.length > 0"
                  [lngLat]="locationMarker">
        <div class="marker">DU</div>
      </mgl-marker>
    </mgl-map>
  </div>

  <a class="btn" id="next" routerLink="{{nextLink}}">Angekommen</a>
  <div class="container-margin-all">
    <div class="box">
      <p [innerHTML]="course.description | safeHtml"></p>
    </div>
  </div>
  <app-page-indicator></app-page-indicator>

</div>
