@import "../../../style/_scss/variables";

:host {
  position: fixed;
  top: $actionbar-height;
  left: 0;
  bottom: 0;
  width: 250px;
  z-index: map-get($z-index-map, "menu");
  background: #1a2580;
  color: #fff;
}

ul {
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  padding-top: 50px;
  list-style: none;

  .inner-menu {
    padding: 0 1em 0 1.5em;
    word-break: break-all;
  }

}

a, a:hover, a:visited, a:active, a:focus {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
