@import "../../../style/_scss/variables";

:host {
  position: fixed;
  top: $actionbar-height;
  left: 0;
  bottom: 0;
  width: 360px;
  z-index: map-get($z-index-map, "menu");
  background: $purple;
  color: $foam;
}

nav {
  padding: ($base-padding * 2) ($base-padding * 2) 0;
}

ul {
  font-size: 1.5rem;
  line-height: 2.4;
  list-style: none;

  .inner-menu {
    padding: 0 1em 0 1.5em;
    word-break: break-all;
  }
}

a, a:hover, a:visited, a:active, a:focus {
  color: $foam;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
