@import "../../../../style/_scss/variables";

app-action-bar {
  position: absolute;
  width: 100%;
}

mgl-map {
  width: 100vw;
  @media (max-width: 800px) {
    order: 1;
  }
}

.swipeable-content {
  @media (max-width: 800px) {
    display: flex;
    width: 200%;
  }
}

.overflow-hidden {
  @media (max-width: 800px) {
    overflow-x: hidden;
  }
}

.swipe-helper {
  background-color: cornflowerblue;
  width: 15vw;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 85vw;
  opacity: 0.5;
  @media (min-width: 801px) {
    display: none;
  }
}
