<div class="wrapper" *ngIf="station">
  <app-action-bar [name]="title" [showMenu]="true"></app-action-bar>

  <div class="swipeable" [@swiping]="swipeState">
    <mgl-map
      [center]="mapOptions.center"
      [zoom]="mapOptions.zoom"
      [style]="mapOptions.style">

      <mgl-marker
        [lngLat]="mapOptions.marker">
        <div class="marker">{{station.id + 1}}</div>
      </mgl-marker>
      <mgl-control
        mglGeolocate
        [positionOptions]="{
        enableHighAccuracy: true,
        maximumAge: 5000
        }"
        [trackUserLocation]="true"
      ></mgl-control>
    </mgl-map>
    <div class="wrapper-box">
      <div class="box__container">
        <div class="box" *ngFor="let subject of station.subjects" routerLink="{{subject['link']}}">
          <h1 class="box__title h1"
              [ngClass]="{relative: subject.inlineName === true}">{{subject.name}}</h1>
          <p>{{subject.description}}</p>
          <a routerLink="{{subject['link']}}" class="btn-cta">Anschauen</a>
        </div>
        <div class="btn__position--right">
          <a class="btn btn--standalone" routerLink="{{nextLink}}">Zur nächsten Station</a>
        </div>
      </div>
    </div>
    <div class="swipeable__helper"
      (click)="toggleSwipeState()"
      (touchmove)="toggleSwipeState()">
      <div class="swipeable__btn" aria-label="click to see map"></div></div>
  </div>

  <app-page-indicator [course]="course.id" [stations]="course.stations" [active]="station.id"></app-page-indicator>
</div>
