@import '../../../../_vars.scss';


.box {
  width: auto;
  background-color: white;
  border: 1px solid black;
  padding: 30px;
  margin: 10px 0;
}

/*::-webkit-scrollbar {*/
  /*-webkit-appearance: none;*/
  /*width: 5px;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
  /*!*border-radius: 5px;*!*/
  /*background-color: rgba(0, 0, 0, .5);*/
  /*-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);*/
/*}*/

.box:hover {
  cursor: pointer;
}

app-action-bar {
  position: absolute;
  width: 100%;
}

mgl-map {
  width: 100vw;
  @media (max-width: 800px) {
    order: 1;
  }
}

.swipeable-content {
  @media (max-width: 800px) {
    display: flex;
    width: 200%;
  }
}

.box-container {
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 30;

  @media (max-width: 800px) {
    width: 90vw;
    background: pink;
    padding: 5em 3em;
  }
  @media (min-width: 801px) {
    position: absolute;
    top: 80px;
    left: 60px;
    height: 90vh;
    width: 50vh;
    background: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: map-get($z-index-map, "box");
  }
}

.overflow-hidden {
  @media (max-width: 800px) {
    overflow-x: hidden;
  }
}

.swipe-helper {
  background-color: cornflowerblue;
  width: 15vw;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 85vw;
  opacity: 0.5;
  @media (min-width: 801px) {
    display: none;
  }
}

.btn {
  margin: 10px 0;
  display: block;
  text-align: center;
}

.active {
  background-color: lightblue;
}
